html {
  scroll-behavior: smooth;
}

body {
  font-family: "Prompt", sans-serif;
  background-color: #303030;
  color: rgba(255, 255, 255, 0.7);
  background-image: url(./images/BG.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* NAVIGATION BAR */

/* PERSISTENT TOP NAVIGATION: */
.navigation-frame-top {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 5px 0;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: #000000;
  box-shadow: 0 0 10px #000000;
}

.navigation-bar {
  display: flex;
  margin: 0 500px 0 490px;
  justify-content: center;
  width: fit-content;
  list-style-type: none;
}

.navigation-bar li a {
  max-width: 50%;
  font-size: 18px;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.85);
  text-decoration: none;
  padding: 0 10px 0 10px;
}

.navigation-bar li a:hover {
  color: rgb(143, 36, 21);
}

/* WEBSITE TITLE HEADER: */
.navigation-frame-bott {
  display: flex;
  justify-content: center;
  margin: 28.4px auto 0;
  padding: 5px 0 30px 0;
  background-color: #000000;
  box-shadow: 0 0 10px #000000;
}

.navigation-frame-bott header h1 {
  font-size: 30px;
  margin: 15px 500px 0 500px;
  width: fit-content;
}

/* MAIN FRAME: */
.jwst-info {
  margin: 0 auto;
  min-height: fit-content;
  width: 39vw;
  background-color: #303030;
  box-shadow: 0 0 10px #000000;
  padding: 15px 20px 0 20px;
}

.jwst-info div {
  display: flex;
  flex-direction: column;
}

.jwst-info a {
  color: rgba(255, 255, 255, 0.85);
  font-weight: bold;
  text-decoration: none;
}

.jwst-info a:hover {
  color: rgb(143, 36, 21);
}

/* SMALL INFO DISCLAIMER: */
.jwst-info div h3 {
  font-size: 20px;
  font-weight: bold;
  font-style: italic;
}

/* ALL MAIN FRAME H2's: */
.jwst-info div h2 {
  margin: 40px 0 10px 0;
  font-size: 40px;
}

/* ALL MAIN FRAME H4's */
.jwst-info div h4 {
  margin: 10px 0 10px 0;
  font-size: 20px;
  font-weight: bold;
}

.longer-p {
  margin-bottom: 10px;
}

/* ALL MAIN FRAME INBETWEEN TEXT SECTION IMAGES: */
.inbetween-images {
  margin: 10px 0 0 0;
  width: 75%;
  align-self: center;
  box-shadow: 0 0 8px #000000;
}

/* FIRST IMAGES FRAME: */

/* FIRST IMAGES TITLE FRAME: */
.fimg-head {
  margin: 0px auto;
  min-height: fit-content;
  width: 39vw;
  background-color: #303030;
  box-shadow: 0 -6px #303030, 0 6px #303030, 0 0 10px -3px #000000,
    0 0 10px -3px #000000;
  padding: 15px 20px 0 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.fimg-head h2 {
  margin: 40px 0 10px 0;
  font-size: 40px;
}

.fimg-head h4 {
  font-size: 12px;
  font-style: italic;
  width: fit-content;
  margin: 0 auto;
}

/* FIRST IMAGES FRAME: */
.image-frame {
  margin: 0px auto;
  min-height: fit-content;
  width: 39vw;
  background-color: #303030;
  box-shadow: 0 -6px #303030, 0 6px #303030, 0 0 10px -3px #000000,
    0 0 10px -3px #000000;
  padding: 15px 20px 0 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/* FIRST IMAGES IMAGE CARDS: */
.image-frame .deepfield-card {
  width: 200px;
  height: 200px;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(./images/deepfield.png);
  background-position: center;
  background-size: cover;
  box-shadow: 0 0 8px #000000;
}

.image-frame .deepfield-card a {
  opacity: 0;
  font-weight: bold;
  padding: 70px 10px;
  font-family: "Prompt", sans-serif;
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
  text-align: center;
}

.image-frame .deepfield-card:hover {
  box-shadow: 0 0 0 200px rgba(0, 0, 0, 0.6) inset;
}

.image-frame .deepfield-card a:hover {
  opacity: 1;
}

.image-frame .exoplanet-card {
  width: 200px;
  height: 200px;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(./images/exoplanet-wasp-96-b.png);
  background-position: center;
  background-size: cover;
  box-shadow: 0 0 8px #000000;
}

.image-frame .exoplanet-card a {
  opacity: 0;
  font-weight: bold;
  padding: 60px 10px;
  font-family: "Prompt", sans-serif;
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
  text-align: center;
}

.image-frame .exoplanet-card:hover {
  box-shadow: 0 0 0 200px rgba(0, 0, 0, 0.6) inset;
}

.image-frame .exoplanet-card a:hover {
  opacity: 1;
}

.image-frame .quintet-card {
  width: 200px;
  height: 200px;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(./images/stephans_quintet.png);
  background-position: center;
  background-size: cover;
  box-shadow: 0 0 8px #000000;
}

.image-frame .quintet-card a {
  opacity: 0;
  font-weight: bold;
  padding: 69px 10px;
  font-family: "Prompt", sans-serif;
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
  text-align: center;
}

.image-frame .quintet-card:hover {
  box-shadow: 0 0 0 200px rgba(0, 0, 0, 0.6) inset;
}

.image-frame .quintet-card a:hover {
  opacity: 1;
}

.image-frame .cliffs-card {
  width: 200px;
  height: 200px;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(./images/cosmic_cliffs.png);
  background-position: center;
  background-size: cover;
  box-shadow: 0 0 8px #000000;
}

.image-frame .cliffs-card a {
  opacity: 0;
  font-weight: bold;
  padding: 69px 10px;
  font-family: "Prompt", sans-serif;
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
  text-align: center;
}

.image-frame .cliffs-card:hover {
  box-shadow: 0 0 0 200px rgba(0, 0, 0, 0.6) inset;
}

.image-frame .cliffs-card a:hover {
  opacity: 1;
}

.image-frame .nebular-card {
  width: 200px;
  height: 200px;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(./images/southern_ring_nebular.png);
  background-color: black;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  box-shadow: 0 0 8px #000000;
}

.image-frame .nebular-card a {
  opacity: 0;
  font-weight: bold;
  padding: 43px 10px;
  font-family: "Prompt", sans-serif;
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
  text-align: center;
}

.image-frame .nebular-card:hover {
  box-shadow: 0 0 0 200px rgba(0, 0, 0, 0.6) inset;
}

.image-frame .nebular-card a:hover {
  opacity: 1;
}

/* CONTACT + THANK YOU NOTE: */

.contact-frame {
  margin: 0px auto;
  height: 20vh;
  width: 39vw;
  background-color: #000000;
  box-shadow: 0 -6px #303030, 0 6px #303030, 0 0 10px -3px #000000,
    0 0 10px -3px #000000;
  padding: 15px 20px 0 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
}

.contact-frame h3 {
  font-size: 20px;
  font-style: italic;
}

.contact-frame a {
  color: rgba(255, 255, 255, 0.85);
  font-weight: bold;
  text-decoration: none;
}

.contact-frame a:hover {
  color: rgb(143, 36, 21);
}

.contact-frame .contact-links {
  font-size: 35px;
  margin-bottom: 20px;
}

/* LEGAL NOTICE: */

.legal {
  margin: 0px auto;
  min-height: fit-content;
  width: 39vw;
  background-color: #303030;
  box-shadow: 0 -6px #303030, 0 6px #303030, 0 0 10px -3px #000000,
    0 0 10px -3px #000000;
  padding: 15px 20px 0 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.legal h2 {
  margin: 0 0 10px 0;
  font-size: 40px;
}
.legal h3 {
  margin: 20px 0 10px 0;
  font-size: 20px;
}

.legal .sources {
  margin: 0 0 20px 20px;
  list-style-type: disc;
}
.legal a {
  color: rgba(255, 255, 255, 0.85);
  font-weight: bold;
  text-decoration: none;
}

.legal a:hover {
  color: rgb(143, 36, 21);
}
